.paper {
    height: 400px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 5vh;
}

.tableRow {
    box-sizing: border-box;
    width: 100% !important;
    display: flex;
    align-items: center;
    padding-right: 0 !important;
}

.tableRowHeader {
    padding-right: 17px !important;
    background: #3f51b5;
}

.tableRowEven {
    background-color: #eaeaea;
}


.tableCell {
    padding: 0px 5px;
    box-sizing: border-box;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
        flex-shrink: 0 !important;
        flex: none !important;
        width: 70px;
        font-size: 12px;
        line-height: 100%;
        color: #606060;
        padding-left: 10px;
    }
}

.tableCellHeader {
    height: 100%;
    color: #fff !important;

    svg {
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        margin-left: 5px;
        opacity: 0.3;
        transition: transform 0.3s ease, opacity 0.3s linear;

        &:hover {
            background: rgba(138, 138, 138, 0.5);
            opacity: 1;
        }

        &.isActive {
            opacity: 1;
            background-color: #f50057;
        }

        &.isRotate {
            transform: rotate(180deg)
        }
    }
}


